@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


:root {
 --color--primary:#fffcf5;
 --color--primary-dark:#0F151E;
 --color-primary-cta:#ff4500;

}


body {
  height: 100vh;
  background-color: var(--color--primary);
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h2{
  font-size: 23px;
    font-family: "Fira Code", monospace;
    color: #151515;
    text-transform: uppercase;
    font-weight: 600;
}

/* Botão add*/

a{
    text-decoration: none;
}

.add{
  width: 220px;
  height: 40px;
  border-radius:2px;
  margin-bottom: 20px;
  background-color: #ff4500;
  border: solid 2px #151515;
  padding: 5px;
  font-family: "Fira Code", monospace;
  color: #f0f2f2;
  font-weight: 600;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;  
 

}


/*Estilo de da Tabela*/

.table{
  max-width: 80%;
  margin: 0 auto;
  background-color: var(--color--primary);
  border: solid 1px var(--color--primary-dark);
}

tr {
  font-family: "Fira Code", monospace;
}




/* Botões editar e excluir*/

.edit{
  background-color: #ff4500;
  border: solid 2px #151515;
  color: #f3f3f3;
}

.delete{
  background-color:#D9072D;
  border: solid 2px #252525;
  color: #f3f3f3;
}




/* Botões editar e excluir*/


/*ALERTAS DE AVISO*/

.alert-person-sucess  {
    background-color: #04D976 !important;
    border: solid 2px #04D976;
    color: #ffffff !important;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Fira Code", monospace;
}

.alert-person-danger {
    background-color: #BF1523 !important;
    border: solid 2px #BF1523;
    color: #ffffff !important;
    font-weight: 500;
    border-radius: 8px;
    font-family: "Fira Code", monospace;
}