@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100vh;
  background-color: #f0f2f2;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h2{
  font-size: 23px;
    font-family: "Fira Code", monospace;
    color: #151515;
}


/*Estilo de da Tabela*/

.table{
  max-width: 80%;
  margin: 0 auto;
}

tr {
  font-family: "Fira Code", monospace;
}

/*botões open Modal*/

#openModal{
 width: 220px;
  height: 35px;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #ff4500;
  border: solid 2px #151515;
  padding: 5px;
  font-family: "Fira Code", monospace;
  color: #f0f2f2;
  font-weight: 600;
 text-align: center;
 text-transform: uppercase;
 display: flex;
 justify-content: center;
 align-items: center;
 
}


#closedModal{
  background-color: #ff4500;
  border: solid 2px #151515;
}

/*Dialog*/

dialog::backdrop{
  background-color: rgb(0 0 0 / .5);

   
}

dialog {
   border-radius: 8px;
   width: 70%;
   max-width: 480px;  
}




/*Form Modal*/

form {
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

form h2 {
  text-align: center;
  font-family: "Fira Code", monospace;
  font-size: 2rem;
  font-weight: 700;
}

label {
  font-family: "Fira Code", monospace;
  padding: 5px;
  font-weight: 500;
  
}

input[type="nome"],
input[type="email"],
input[type="password"] {
  width: 280px;
  height: 35px;
  border-radius: 6px;
  margin-bottom: 20px;
  border: solid 2px #151515;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(14, 13, 13);
  outline-color: #f3f3f3;
}

/*Personalização input*/

input:focus {
  border: 2px solid #ff4500;
  outline: 0;
}

input[type="submit"] {
  width: 280px;
  height: 52px;
  background-color: #ff4500;
  border: solid 2px #151515;
  border-radius: 6px;
  font-family: "Fira Code", monospace;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  cursor: pointer;
  color: #0082a5;
  font-family: "Fira Code", monospace;
  font-weight: 700;
}